fastapi
uvicorn[standard]
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.2
faiss-cpu
sentence-transformers
rank_bm25
pypdf
transformers>=4.37.0
bitsandbytes
accelerate
peft
duckduckgo-search
numpy
torch
python-dotenv
gradio
